@font-face {
  font-family: "iconfont"; /* Project id 1605153 */
  src: url('iconfont.woff2?t=1639368043218') format('woff2'),
       url('iconfont.woff?t=1639368043218') format('woff'),
       url('iconfont.ttf?t=1639368043218') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-icon-regularExpression-o:before {
  content: "\e739";
}

.el-icon-yanjing:before {
  content: "\e627";
}

.el-icon-wenjianjia:before {
  content: "\e6c4";
}

.el-icon-pinglun:before {
  content: "\e744";
}

.el-icon-shijian:before {
  content: "\e606";
}

.el-icon-sandian:before {
  content: "\e6c9";
}

.el-icon-discovery:before {
  content: "\e603";
}

.el-icon-tuite:before {
  content: "\e601";
}

.el-icon-github:before {
  content: "\e724";
}

.el-icon-email:before {
  content: "\e60c";
}

.el-icon-zhihu:before {
  content: "\e60a";
}

.el-icon-cloud-music:before {
  content: "\f102";
}

.el-icon-quotes-up-copy:before {
  content: "\e611";
}

.el-icon-quotesUp-copy:before {
  content: "\e61d";
}

.el-icon-guanbi:before {
  content: "\e609";
}

.el-icon-sousuo:before {
  content: "\e624";
}

.el-icon-yonghu:before {
  content: "\e635";
}

.el-icon-archive:before {
  content: "\e658";
}

.el-icon-qingdan:before {
  content: "\e691";
}

.el-icon-liuyan:before {
  content: "\e610";
}

.el-icon-lianjie:before {
  content: "\e693";
}

.el-icon-yezi:before {
  content: "\e742";
}

.el-icon-fortawesome:before {
  content: "\e74c";
}

